* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
 width: 100%;
 height: 70px;
 background-color: #EC715F;
}

.header-middle {
 width: 1024px;
 height: 70px;
 margin: 0 auto;
}

.header-img {
 float: left;
 height: 70px;
}

.nav-list {
 float: right;
 line-height: 70px;
}

.nav-list > a {
 display: inline-block;
 list-style: none;
 text-decoration: none;
 font-size: 16px;
 color: #FAFAFA;
 padding-right: 30px;
 padding-left: 30px;
 line-height: 70px;
}

h2 {
 position: relative;
 font-size: 32px;
 color: #000000;
 padding-top: 90px;
 padding-bottom: 8px;
 text-align: center;
}

h2:before {
 content: "";
 position: absolute;
 left: 50%;
 bottom: -15px;
 display: inline-block;
 width: 70px;
 height: 3px;
 -webkit-transform: translateX(-50%);
 transform: translateX(-50%);
 background-color: #EC715F;
}

#main-visual {
 width: 100%;
 height: 650px;
 background-image: url(img/mv.png);
 background-size: cover;
 background-position: center;
}

.main-visual-headline {
 font-size: 64px;
 color: #FAFAFA;
 padding-top: 200px;
 padding-bottom: 10px;
 text-align: center;
}

.main-visual-content {
 font-size: 20px;
 color: #FAFAFA;
 text-align: center;
}

#portfolio {
 width: 100%;
 background-color: #ECEFF1;
}

.portfolio-section {
 width: 920px;
 margin: 0 auto;
}

.summary {
 font-size: 16px;
 color: #000000;
 margin-top: 30px;
 margin-bottom: 30px;
 text-align: center;
}

.portfolio-box {
 float: left;
 width: 300px;
 height: 250px;
 background-size: cover;
 background-position: center;
}

.portfolio-box:nth-child(1) {
 background-image: url(img/sketch.jpg);
 margin: 0 10px 10px 0;
}

.portfolio-box:nth-child(2) {
 background-image: url(img/websuku.png);
 margin: 0 10px 10px 0;
}

.portfolio-box:nth-child(3) {
 background-image: url(img/write.jpg);
 margin: 0 0 10px 0;
}

.portfolio-box:nth-child(4) {
 background-image: url(img/webcamp.png);
 margin: 0 10px 90px 0;
}

.portfolio-box:nth-child(5) {
 background-image: url(img/talk.jpg);
 margin: 0 10px 90px 0;
}

.portfolio-box:nth-child(6) {
 background-image: url(img/webcamp-mother.png);
 margin: 0 0 90px 0;
}

#feature {
 width: 100%;
 background-color: #FFFFFF;
}

.feature-section {
 width: 980px;
 margin: 0 auto;
}

.feature-box {
 float: left;
 width: 320px;
 height: auto;
 margin-bottom: 90px;
}

.feature-box:nth-child(1), .feature-box:nth-child(2) {
 margin-right: 10px;
}

.feature-icon {
 display: inline-block;
 width: 320px;
 text-align: center;
 font-size: 60px;
}

.feature-title {
 font-size: 20px;
 color: #000000;
 text-align: center;
 margin: 10px 0;
}

.feature-body {
 font-size: 16px;
 color: #000000;
}

#profile {
 width: 100%;
 background-color: #ECEFF1;
}

.profile-section {
 width: 1024px;
 margin: 0 auto;
}

.profile-image, .profile-content {
 float: left;
 width: 512px;
 padding-bottom: 90px;
}

.profile-img {
 background-image: url("img/my-icon.jpg");
 width: 250px;
 height: 250px;
 border-radius: 50%;
 background-position: center;
 margin: 0 auto;
}

.profile-name {
 padding-bottom: 20px;
}

.profile-title {
 font-size: 20px;
 padding-bottom: 5px;
}

.profile-body {
 font-size: 16px;
 color: #000000;
}

#contact {
 width: 100%;
}

.contact-section {
 width: 800px;
 margin: 0 auto;
}

.contact-box {
 float: left;
 width: 400px;
 margin-bottom: 90px;
}

.contact-box-mini {
 width: 50%;
 margin: 0 auto;
}

.contact-mail > a, .contact-tel > a {
 color: #000000;
}

.contact-mail {
 padding-bottom: 20px;
 text-align: center;
}

.contact-tel {
 text-align: center;
}

.contact-title {
 font-size: 20px;
 padding-bottom: 5px;
}

.contact-icon {
 font-size: 50px;
 text-align: center;
}

.contact-icon:nth-child(2) {
 padding: 0 20px;
}

footer {
 width: 100%;
 height: 60px;
 background-color: #EC715F;
 font-size: 16px;
 color: #FAFAFA;
 line-height: 60px;
 text-align: center;
}


/*レスポンシブ対応*/
@media screen and (max-width:767px) {

 header {
  width: 100%;
  height: 50px;
  background-color: #EC715F;
 }

 .header-middle {
  width: 90%;
 }

 .header-img {
 height: 50px;
}

.nav-list > a {
 display: none;
}

.menu-box {
 float: right;
 width: 40px;
 height: 40px;
 margin-right: 5%;
 border: 1px solid #FAFAFA;
 margin-top: 5px;
 margin-bottom: 5px;
}

.list-bar:first-child {
 margin-top: 10px;
}

.list-bar {
 display: block;
 width: 25px;
 height: 2px;
 margin: 5px auto;
 background-color: #FAFAFA;
}

 #main-visual {
 width: 100%;
 height: 650px;
 background-image: url(img/code.png);
 background-size: cover;
 background-position: center;
}

.main-visual-headline {
 font-size: 40px;
 color: #FAFAFA;
 padding-top: 200px;
 padding-bottom: 10px;
 text-align: center;
}

.main-visual-content {
 font-size: 18px;
 color: #FAFAFA;
 text-align: center;
}

h2 {
 width: 90%;
 position: relative;
 font-size: 32px;
 color: #000000;
 padding-top: 90px;
 padding-bottom: 8px;
 text-align: center;
}

h2:before {
 content: "";
 position: absolute;
 left: 50%;
 bottom: -15px;
 display: inline-block;
 width: 70px;
 height: 3px;
 -webkit-transform: translateX(-50%);
 transform: translateX(-50%);
 background-color: #EC715F;
}

 .summary {
  width: 90%;
  font-size: 16px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
 }

 .portfolio-section {
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
 }

 .portfolio-box {
 width: 300px;
 height: 250px;
 background-size: cover;
 background-position: center;
}

 .portfolio-box:nth-child(1) {
 display: none;
}

.portfolio-box:nth-child(2) {
 background-image: url(img/websuku.png);
 margin-bottom: 10px;
}

.portfolio-box:nth-child(3) {
 display: none;
}

.portfolio-box:nth-child(4) {
 background-image: url(img/webcamp.png);
 margin-bottom: 10px;
}

.portfolio-box:nth-child(5) {
 display: none;
}

.portfolio-box:nth-child(6) {
 background-image: url(img/webcamp-mother.png);
 margin-bottom: 90px;
}

#feature {
 width: 100%;
 background-color: #FFFFFF;
}

.feature-section {
 width: 90%;
 margin: 0 auto;
}

.feature-box {
 width: 90%;
 margin-right: 0;
}

.feature-box:nth-child(1), .feature-box:nth-child(2) {
 margin-bottom: 10px;
}

.feature-icon {
 text-align: center;
 font-size: 60px;
}

.feature-title {
 font-size: 20px;
 color: #000000;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
}

.feature-body {
 font-size: 16px;
 color: #000000;
}

#profile {
 width: 100%;
 background-color: #ECEFF1;
}

 .profile-section {
  width: 90%;
  margin: 0 auto;
 }

 .profile-image {
 width: 90%;
 padding-bottom: 0;
}

.profile-content {
 width: 90%;
 padding-bottom: 90px;
}

.profile-img {
 background-image: url("img/my-icon.jpg");
 width: 250px;
 height: 250px;
 border-radius: 50%;
 background-position: center;
 margin: 0 auto;
}

.profile-name {
 padding-top: 20px;
 padding-bottom: 20px;
}

.profile-title {
 font-size: 20px;
 color: #000000;
 padding-bottom: 5px;
 text-align: center;
}

.profile-body {
 font-size: 16px;
 color: #000000;
 text-align: center;
}

#contact {
 width: 100%;
}

.contact-section {
 width: 90%;
 margin: 0 auto;
}

.contact-box {
 width: 90%;
 margin: 0 auto;
}
/*
.contact-box:nth-child(2) {
 padding-bottom: 90px;
}*/

.contact-box-mini {
 width: 60%;
}

.contact-mail > a, .contact-tel > a {
 color: #000000;
}

.contact-mail, .contact-tel {
 padding-bottom: 20px;
 text-align: center;
}

.contact-title {
 font-size: 20px;
 color: #000000;
 padding-bottom: 5px;
 text-align: center;
}

.contact-icon {
 font-size: 50px;
 text-align: center;
 padding-bottom: 90px;
}

.contact-icon:nth-child(2) {
 padding-right: 8px;
 padding-left: 8px;
}

footer {
 width: 100%;
 height: 60px;
 background-color: #EC715F;
 font-size: 16px;
 color: #FAFAFA;
 line-height: 60px;
 text-align: center;
}



}
